<%- include('../partials/head') %>

	<body class="min-h-screen">
		<div class="bg-black min-h-screen">
			<div class="flex min-h-screen">

				<%- include('../partials/desktop_menu') %>

					<%- include('../partials/main_wall/index') %>

						<%- include('../partials/sidebar') %>

			</div>

		</div>
	</body>

	<%- include('../partials/footer') %>