<%- include('../partials/head') %>

	<body>
		<div class="bg-black">
			<div class="flex">

				<%- include('../partials/desktop_menu') %>

					<%- include('../partials/main_wall/index') %>

						<%- include('../partials/sidebar') %>

							<div />

			</div>
	</body>

	<%- include('../partials/footer') %>